{
  "presets": [["env", { "loose": true }]],
  "plugins": [
    "transform-runtime",
    "transform-export-extensions",
    "transform-object-rest-spread",
    ["transform-class-properties", { "loose": true }]
  ]
}
